@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-Regular.eot"), url("../fonts/montserrat/Montserrat-Regular.eot?iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Regular.svg#Montserrat") format("svg"); }

@font-face {
  font-family: "Montserrat-hairline";
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-Hairline.eot"), url("../fonts/montserrat/Montserrat-Hairline.eot?iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Hairline.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Hairline.svg#Montserrat-hairline") format("svg"); }

@font-face {
  font-family: "Montserrat-ultraLight";
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-UltraLight.eot"), url("../fonts/montserrat/Montserrat-UltraLight.eot?iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-UltraLight.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-UltraLight.svg#Montserrat-ultraLight") format("svg"); }

@font-face {
  font-family: "Montserrat-light";
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-Light.eot"), url("../fonts/montserrat/Montserrat-Light.eot?iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Light.svg#Montserrat-light") format("svg"); }

@font-face {
  font-family: "Montserrat-semiBold";
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot"), url("../fonts/montserrat/Montserrat-SemiBold.eot?iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-semiBold") format("svg"); }

@font-face {
  font-family: "Montserrat-bold";
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-Bold.eot"), url("../fonts/montserrat/Montserrat-Bold.eot?iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Bold.svg#Montserrat-bold") format("svg"); }

@font-face {
  font-family: "Montserrat-extraBold";
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.eot"), url("../fonts/montserrat/Montserrat-ExtraBold.eot?iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat-extraBold") format("svg"); }

@font-face {
  font-family: "Montserrat-black";
  font-weight: normal;
  src: url("../fonts/montserrat/Montserrat-Black.eot"), url("../fonts/montserrat/Montserrat-Black.eot?iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Black.svg#Montserrat-black") format("svg"); }

body {
  font-family: "Montserrat-light";

  margin: 10px 10px 100px 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
}
a:link {
  color: #548a3b;
}
a:visited {
  color: #548a3b;
}
a:hover {
  color: #548a3b;
}
a:active {
  color: #548a3b;
}

p.danger {
  color: red;
}

p.info {
  color: #0083cb;
}

button {
  outline: none; /* Chrome border orange */
}

.top-link,
.back-link {
  display: block;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  padding: 10px 10px 9px 10px;
  background-color: #d14b30;
  color: white !important;
  font-size: 10pt;
  text-align: center;
  border: none;

  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.top-link {
  width: 38px;
  height: 38px;
  margin: 0 0px 0px 0;
  border-left: solid 1px white;
}

.back-link {
  width: 100px;
  height: 38px;
  margin: 0 37px 0px 0;
}

.list-index {
  list-style: none;
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
  width: calc(100%-20px);
}

.list-index li {
  font-size: 10pt;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 15px 0 15px 0;
}

.list-examples {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: calc(100%-20px);
}

.list-examples button {
  width: 100%;
  height: 44px;
  background-color: #539cb8;
  margin: 0 0 15px 0 ;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10pt;
  cursor: pointer;
  font-family: "Montserrat-light";

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-examples h1 {
  font-size: 1.75rem;
}

.list-examples h2 {
  font-size: 1.25rem;
}

.list-examples li {

  margin: 5px 0 5px 0;
}

.list-examples li a {

  display: inline-block;
  padding: 10px 0px 10px 0px;
}

.list-examples li p {

  font-size: 10pt;
}

.list-examples li p:first-child b {

  display: block;
  font-size: 14pt;
  margin: 50px 0 0 0;
  padding: 10px 0 7px 10px;
  color: #3d5d3e;
  border-left: solid 4pt #3d5d3e;
  background-color: #c8ecd9;

  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-examples .only-android {

  background-color: #d14538;
}

.list-examples .only-ios {

  background-color: #d14538;
}

.list-params {
  margin: 0 0 20px 0;
  word-break: break-word;
}

.list-params li {
  font-size: 10pt;
}

.list-params ul {
  margin: 10px 0 10px 0;
}

.list-params span {
  display: block;
  font-size: 10pt;
  margin: 10px 0 10px -20px;
}

.section-examples {
  width: 100%;
  margin: 0 0 0 0;
}

.text-selectable {
  word-break: break-all;

  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
}

/*
Imagenes de la camara de ejemplo
*/

.img-camera-example {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 50% 20px 50%;
  left: -100px;
  right: : -100px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
Bloque de código
*/

code {
  display: block;
  position: relative;
  background-color: #0a201b;
  color: white;
  border: 1px solid black;
  margin: 0 0 20px 0;
  padding: 0px;
}

code span {
  display: block;
  overflow-x: auto;
  padding: 17px 10px 17px 10px;
  word-break: break-word;

  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
}

code span b {

  color: #7de843;
}

code badge {
  display: inline-block;
  position: absolute;
  margin: 0 0 0 0;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  right: 0.5rem;
  top: -0.75rem;
  text-align: center;
  background-color: #bd3d7e;
  color: white;
  border: 1px solid black;
  font-size: 8pt;
  font-family: "Montserrat-light";
  letter-spacing: .5pt;
}